.App {
  text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input {
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid lightsteelblue;
  outline: none;
}

.main {
  margin-top: 50px;
}

.correctVal {
  background-color: red;
}

.borderRight {
  border-right: 4px solid lightsteelblue !important;
}

.borderBottom {
  border-bottom: 4px solid lightsteelblue !important;
}

.borderLeft {
  border-left: 4px solid lightsteelblue !important;
}

.borderTop {
  border-top: 4px solid lightsteelblue !important;
}

.subtext {
  margin-top: 20px;
  font-family: monospace;
  font-size: 1.5rem;
}

.actionContainer {
  margin-top: 30px;
}

.final {
  margin-left: 10px;
}

.timer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  justify-content: center;
}
